.phone .main-grid{
	display: none;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 9fr;
	min-height: 100%;
	min-width 100%;
	background-color: #444;
	padding: 0px
}

.phone .separator-solid{
	border-bottom: 3px solid #555555;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-left: 30px;
	padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 40px;
}

.phone h1{
	font-size: 80px;
	margin: 0px
}

.phone h2 {
	font-size: 50px;
	margin: 0px
}

.phone h3 {
	font-size: 40px;
	padding-bottom: 0px;
	padding-top: 30px;
	margin: 0px;
}

.phone h4{
	font-size: 20px;
	margin: 0px;
}

.phone .qr {
	padding-top: 20px;
	width: 180px;
	height: 180px
}


/* desktop*/

.desktop .main-grid{
	display: none;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 9fr;
	height: 100%;
	min-width: 100%;
	background-color: #444;
	padding: 0px
}

.desktop .separator-solid{
	border-bottom: 3px solid #555555;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-left: 50px;
	padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.desktop .qr{
	padding-top: 5px;
	width: 120px;
	height: 120px
}

.desktop h1{
	font-size: 70px;
	margin: 0px
}

.desktop h2{
	font-size: 40px;
	padding-bottom: 10px;
	margin: 0px
}

.desktop h3{
	font-size: 30px;
	margin: 0px;
}

.desktop h4{
	font-size: 30px;
	margin: 0px;
	padding-left: 5px;
}

.desktop ul *{
    font-size: 20px;
	margin: 0px;
}


/* classe */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.loading-screen.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

.vertical-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.padded{
	padding: 0px 100px;
}

.center{
	text-align: center
}

.separator-dotted{
	border-bottom: 10px dotted #aaa;
	border-top: none;
	border-left: none;
	border-right: none;
}

.green {
	color: #00cc66
}

.blue {
	color: #0056b3
}

.header {
    grid-column: span 2;
	color: #ffffff;
	font-size: 60px;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto auto;
	background-color: #666666;
	color: black;
	padding: 10px;
    height: auto
}

.main {
	background-color: #888;
	padding: 50px 20px   ;
}


/* element */

main * {
	color: #000000;
}

body {
	background-color: #333;
	color: #ffffff;
	margin: 0px;
	height: 100vh;
	font-family: Times New Roman, Times, serif
}

a {
	text-decoration: none;
}

aside * {
	margin: 10px;
	text-align: center;
}

.div {
	padding: 20px 0px;
}